@use './variables/colors';
@use './variables/spacing';
@use './variables/breakpoints';
@use './mixins/media';
@use './mixins/utils';
@use './base/reset';
@use './base/typography';

html, body, #root {
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

button, input {
    transition: box-shadow 0.3s ease;
}

button:hover, input:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
